body {
    font-family: "Times New Roman", serif;
    background-color: #f8f8ff;
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #3d3d3d;
}

#calculadora {
    width: 260px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    border: 2px solid #dcdcdc;
}

#pantalla {
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 1.6rem;
    border: 2px solid #9f9f9f;
    border-radius: 10px;
    padding: 5px;
    background-color: #f3f3f3;
    color: #333;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    padding: 16px;
    font-size: 14px;
    font-family: "Times New Roman", serif;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #6a3fa0;
    transition: 0.2s;
}

.btn:not(.operador):not(.limpiar):not(.resultado) {
    background-color: #f0e6ff;
    color: #4b3b63;
}

.btn:not(.operador):not(.limpiar):not(.resultado):hover {
    background-color: #e7d9ff;
}

.operador,
.limpiar,
.resultado {
    background-color: #4b0082;
    color: white;
}

.operador:hover,
.limpiar:hover,
.resultado:hover {
    background-color: #360062;
}
